<div class='bottom'>
	<div class='bottom_top'>
		<div class='bottom_inner'>
			<a href='/' class='bottom_box'>공지사항</a>
			<a href='/' class='bottom_box'>사이트소개</a>
			<a href='/' class='bottom_box'>이메일문의</a>
			<a href='/' class='bottom_box' style="font-weight: bold;">운영참여</a>
			<a href='/' class='bottom_box'>최근운영내역</a>
			<a href='/' class='bottom_box'>개인정보취급방침</a>
		</div>
	</div>
	
	<div class="bottom_copyright">
		<div class="bottom_copyright_inner">
			<div class="copyright_box1">
				Copyright&nbsp;ⓒ<img src="/img/copyright.png">&nbsp;all&nbsp;rights&nbsp;reserved.
			</div>
		
			<div class="copyright_box2">
				Powered&nbsp;by&nbsp;<a href='/'>MANIA.KR</a>
			</div>
		</div>
	</div>
</div>