<div class="top_mini_menu">
	<div class="top_mini_menu_inner">
		<div class="mini_box_left">
			<a href="/" class="left_store">
				<i class="xi-cart-o">풋셀스토어</i>
			</a>
			<a href="/" class="left_Ins">
				<i class="xi-instagram">인스타그램</i>
			</a>
		</div>
		
		<div class="mini_box_right">
			<div class="main_login">
				<form action='/'>
						<button class="login_btn" value='' onclick="login">
						 <span><i class='xi-power-off'></i></span>
						</button>
				</form>
			</div>
			
			<div class='logo_search'>
				<div class='search'>
					<form method='get' action='/board/search' autocomplete='off'>
						<input type='hidden' name='sopt' value='all'>
						<input type='text' name='skey' value='{{ skey }}'>
						<label><input type='submit' value='' class='search_btn'><i class='xi-search'></i></label>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	<!--// search, login-->
</div>
<div class='top_logo'>
	<div class='top_logo_inner'>
		<div class='logo'>
				<a href='/'><img src="/img/logo.png" height='104'></a>
		</div>
	</div>
</div>
<!--// logo -->
<div class="top_menu">
	<div class="menu_bar">
		<div class="menu_category">
			<div class='tab'>
				<div class="category_bar">스니커</div>
				<div class="category_bar_a">
					<th>
						<tr><a href='/'>스니커뉴스</a></tr>
						<tr><a href='/'>조던뉴스</a></tr>
						<tr><a href='/'>위키</a></tr>
						<tr><a href='/'>리뷰</a></tr>
					</th>
				</div>
			</div>
			
			<div class='tab'>
				<div class="category_bar">커뮤니티</div>
				<div class="category_bar_a">
					<th>
						<tr><a href='/'>스니커톡</a></tr>
						<tr><a href='/'>패션톡</a></tr>
						<tr><a href='/'>Q&amp;A</a></tr>
						<tr><a href='/'>핫딜톡</a></tr>
						<tr><a href='/'>프리톡</a></tr>
					</th>
				</div>
			</div>
			
			<div class='tab'>
				<div class="category_bar">갤러리</div>
				<div class="category_bar_a">
					<th>
						<tr><a href='/'>착갤</a></tr>
						<tr><a href='/'>염갤</a></tr>
						<tr><a href='/'>셀럽</a></tr>
						<tr><a href='/'>자갤</a></tr>
						<tr><a href='/'>릴레이</a></tr>
					</th>
				</div>
			</div>
			
			<div class='tab'>
				<div class="category_bar">마켓</div>
				<div class="category_bar_a">
					<th>
						<tr><a href='/'>스니커마켓</a></tr>
						<tr><a href='/'>패션마켓</a></tr>
						<tr><a href='/'>BUY</a></tr>
					</th>
				</div>
			</div>
		</div>
	</div>
</div>
