{% extends '../layout.html' %}
{% block content %}
<form method='post' action='/member/find_pw' autocomplete='off'>
	<dl>
		<dt>아이디</dt>
		<dd>
			<input type='text' name='memId'>
		</dd>
	</dl>
	<dl>
		<dt>회원명</dt>
		<dd>
			<input type='text' name='memNm'>
		</dd>
	</dl>
	<dl>
		<dt>휴대폰번호</dt>
		<dd>
			<input type='text' name='cellPhone'>
		</dd>
	</dl>
	<dl>
		<dt>비밀번호 힌트</dt>
		<dd>
			<input type='text' name='pwHint'>
		</dd>
	</dl>
	<input type='submit' value='비밀번호 찾기' class='submit_btn'>
</form>
{% endblock %}