% extends '../layout.html' %}

<!-- 회원 가입, 수정 양식 -->
{% block content %}
<form method='post' action="{{ '/mypage/myinfo' if isLogin else '/member/join' }}" target='ifrmHidden' autocomplete='off'>
	{% if naverProfile.id %}
	<h1>네이버 아이디로 회원 가입</h1>
	{% endif %}
	<dl>
		<dt>아이디</dt>
		<dd>
			{% if isLogin %}
			{{ member.memId }}
			{% else %}
			<input type='text' name='memId'>
			{% endif %}
		</dd>
	</dl>
	{% if not isPasswordNotChange %}
	<dl>
		<dt>비밀번호</dt>
		<dd>
			<input type='password' name='memPw'>
		</dd>
	</dl>
	<dl>
		<dt>비밀번호 확인</dt>
		<dd>
			<input type='password' name='memPwRe'>
		</dd>
	</dl>
	<dl>
		<dt>비밀번호 찾기 힌트</dt>
		<dd>
			<input type='text' name='pwHint' value='{{ member.pwHint }}'>
		</dd>
	</dl>
	{% endif %}
	<dl>
		<dt>회원명</dt>
		<dd>
			<input type='text' name='memNm' value='{{ member.memNm }}'>
		</dd>
	</dl>
	<dl>
		<dt>이메일</dt>
		<dd>
			<input type='email' name='email' value='{{ member.email }}'>
		</dd>
	</dl>
	<dl>
		<dt>휴대전화번호</dt>
		<dd>
			<input type='text' name='cellPhone' value='{{ member.cellPhone }}'>
		</dd>
	</dl>
	<input type='submit' value="{{ '정보수정' if isLogin else '회원가입' }}">
</form>
{% endblock %}